# 1. Ignore absolutely everything by default
*
*/

# 2. Allow the .gitignore file itself
!.gitignore

# 3. Allow Solution & Project structure (Required for Visual Studio to open and run)
!**/*.sln
!**/*.slnx
!**/*.csproj

# 4. Allow only the C# source code files
!**/*.cs
