# === Visual Studio & IDEs ===
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# === Build and Binaries ===
bin/
obj/
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb

# === System Files ===
.DS_Store
Thumbs.db
TestProject1/TestProject1/UnitTest1.cs
_xUnit_/_xUnit_/_xUnit_.csproj
_xUnit_/_xUnit_.slnx
CalculatorTest/CalculatorTest/UnitTest1.cs
TestProject1/TestProject1.slnx
TestProject1/TestProject1/TestProject1.csproj
